{% extends 'base.html.twig' %}

{% block title %}- Placeholder{% endblock %}

{% block body %}
    <h1>Posts</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>
                        <a href="{{ path('posts_edit', { id: post.id }) }}" class="btn btn-sm btn-outline-info">Edit</a>
                        <a href="{{ path('posts_delete', { id: post.id }) }}" class="btn btn-sm btn-outline-danger" id="delete-post" data-id="{{ post.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
            </tr>
        </tbody>
    </table>
{% endblock %}